*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0b1220;
  color:#ffffff;
  font-family:Inter,Arial,sans-serif;
}

button{
  cursor:pointer;
  transition:.2s;
}

button:hover{
  opacity:.9;
}

.app{
  max-width:430px;
  margin:auto;
  min-height:100vh;
  padding:20px;
  padding-bottom:90px;
}

.page{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.card{
  background:#162033;
  border-radius:18px;
  padding:20px;
  border:1px solid rgba(255,255,255,.06);
  box-shadow:0 8px 25px rgba(0,0,0,.25);
}

.card h2{
  margin-bottom:16px;
  color:#fff;
}

.card p{
  color:#d1d5db;
  line-height:1.8;
}

input{
  width:100%;
  padding:14px;
  margin-bottom:12px;
  border-radius:12px;
  border:none;
  outline:none;
  background:#23324d;
  color:#fff;
  font-size:15px;
}

input::placeholder{
  color:#94a3b8;
}

.card button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#2563eb;
  color:white;
  font-size:16px;
  font-weight:600;
}

.card button:hover{
  background:#1d4ed8;
}

.bottomNav{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);

  width:430px;
  height:70px;

  display:flex;
  justify-content:space-around;
  align-items:center;

  background:#111827;

  border-top:1px solid rgba(255,255,255,.08);

  z-index:1000;
}

.bottomNav__item{
  flex:1;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  gap:4px;

  text-decoration:none;

  color:#94a3b8;

  transition:.2s;
}

.bottomNav__item:hover{
  color:#60a5fa;
}

.bottomNav__item.active{
  color:#22c55e;
}

.bottomNav__icon{
  font-size:20px;
}

.bottomNav__label{
  font-size:11px;
  font-weight:600;
}

.summaryNumber{
  font-size:28px;
  font-weight:bold;
  color:white;
}

.green{
  color:#22c55e;
}

.red{
  color:#ef4444;
}

.stockRow{
  display:flex;
  justify-content:space-between;
  margin:6px 0;
}

hr{
  border:none;
  border-top:1px solid rgba(255,255,255,.08);
  margin:15px 0;
}